# Rename this file to gradle.properties and fill in the values

# gpr = github
gpr.user=
gpr.key=

# central creds
mavenCentral.username=
mavenCentral.password=

gpg.executable=/path/to/gpg.exe
gpg.keyName=
gpg.passphrase=
